.#*
*~
*#
*.aux
cabal-dev
cabal.project.local
cabal.project.local~
.cabal-sandbox/
cabal.sandbox.config
Cargo.lock
*.chi
*.chs.h
dist
dist-*
*.dyn_hi
*.dyn_o
*.eventlog
.ghc.environment.*
*.hi
*.hp
.hpc
.hsenv
.HTF/
*.o
*.prof
**/*.rs.bk
.stack-work/
rust/**/target
*.pyc
*.pyo
